<!DOCTYPE html>
<head>
<title>Template de história - Story template</title>
<meta charset="UTF-8">
<meta property="og:site_name" content="Template de história - Story template" />
<meta property="og:title" content="Template de história - Story template" />
<meta property="og:description" content="Template de histórias - Story template" />
<meta name="description" content="Template de histórias - Story template">
<link rel="icon" href="https://diario.netlify.com/cdn/img/template.png">
<meta property="og:image" content="https://diario.netlify.com/cdn/img/template.png" />
<link rel="image_src" href="https://diario.netlify.com/cdn/img/template.png"/>
<link rel="canonical" href="https://diario.netlify.com/template/" />
<meta property="og:url" content="https://diario.netlify.com/template/" />
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" value="@The_Snakes90">
<meta name="twitter:creator" content="@The_Snakes90" />
<link rel="stylesheet" type="text/css" href="../cdn/css/template.css" />
<link rel="stylesheet" type="text/css" href="cdn/css/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3.css">
<link rel="stylesheet" type="text/css" href="../cdn/css/imghover.css">
<meta name="revised" content="Stake's Enterprisetm, 30/11/2019" />
<meta name="author" content="Stake Ferreira" />
<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=yes">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
</head>
<body>
<script src="../cdn/js/myFunction.js"></script>
<script src="../cdn/js/tabs.js"></script>
<center>
<a href="#site1"><button class="w3-btn w3-white" onclick="openCity('site1')"><h2 class="w3-text-black"><i class="fas fa-arrow-circle-left"></i></h2></button></a><a href="#sites"><button class="w3-btn w3-yellow" onclick="openCity('sites')"><h2 class="w3-text-black"><i class="fas fa-globe-americas"></i></h2></button></a><button class="w3-btn w3-white" onclick="openCity('site2')"><h2 class="w3-text-black"><i class="fas fa-arrow-circle-right"></i></h2></button><br /><br />
<div id="site2" class="city" style="display:none;">
<hr /><h2 class="w3-text-white">Nome em português - Name in english</h2><hr />
<img src="../cdn/img/template.png" width="24%" style="border-width:3px;border-color:black;border-style:solid;" />
<br /><br />

<h5 class="w3-text-white"><hr />
Description: "Descrição em português"<br />
Descrição: "Description in english"<br /></h5>
<h5 class="w3-text-white">Story made (História feita por) by Izaque Sanvezzo(stake2) in(em) XX/XX/XXXX.<br />
This story has XX Chapters (Essa história tem XX capítulos).</h5><hr /><br />
<a href="#rd"><button class="w3-btn w3-white w3-text-black" onclick="openCity('rd')">Readers :3 ♥ - Leitores :3 ♥</button></a><br /><br />
<a href="#capsen"><button class="w3-btn w3-white w3-text-black" onclick="openCity('capsen')">Read here <span class="steam"> [New Chapter XX]</span></button></a>
<a href="#capspt"><button class="w3-btn w3-white w3-text-black" onclick="openCity('capspt')">Ler aqui <span class="steam"> [Novo Capítulo XX]</span></button></a><br /><br />
<a href="#comment" alt="Comentário"><button class="w3-btn w3-white w3-text-black" alt="Comentário" onclick="openCity('comment')"><h4 alt="Comentário"><i class="fas fa-comments"></i></h4></button></a><br /><br /><br />
</div>

<div id="site1" class="city" style="display:none;">
<hr /><h2 class="w3-text-white">Nome em português - Name in english</h2><hr />
<img src="../cdn/img/template.png" width="22%" style="border-width:3px;border-color:black;border-style:solid;" />
<br /><br /><hr />
<h5 class="w3-text-white">
"Descrição em português"<br />
"Description in english"<br /></h5>
<h4 class="w3-text-white">
História feita por Izaque Sanvezzo(stake2) - Story made by Izaque Sanvezzo(stake2)<br />
Esta história tem XX Capítulos. - This story has XX Chapters.<br /></h4><hr /><br /><br />

<a href="#pt"><button class="w3-btn w3-white" onclick="openCity('pt')"><h2 class="w3-text-white">🇧🇷</h2></button></a><a href="#eng"><button class="w3-btn w3-white" onclick="openCity('eng')"><h2 class="w3-text-white">🇺🇸</h2></button></a><br /><br /><br />
<a href="#comment" alt="Comentário"><button class="w3-btn w3-white" alt="Comentário" onclick="openCity('comment')"><h4 alt="Comentário"><i class="fas fa-comments"></i></h4></button></a><br /><br />
<a href="#rd"><button class="w3-btn w3-white" onclick="openCity('rd')"><h6><i class="fas fa-user-friends dark"></i> ❤️ 😊</h6></button></a><a href="#capspt"><button class="w3-btn w3-white" onclick="openCity('capspt')"><h6><i class="fas fa-book-open dark"></i><span class="w3-text-red"> [1!]</span></h6></button></a>
<br />

<a name="pt"></a>
<div id="pt" class="city" style="display:none;">
<a href="#pt"><button class="w3-btn w3-white" onclick="openCity('pt')"><h2 class="w3-text-white">🇧🇷</h2></button></a><a href="#eng"><button class="w3-btn w3-white" onclick="openCity('eng')"><h2 class="w3-text-white">🇺🇸</h2></button></a><br /><br /><br />
<a href="#comment" alt="Comentário"><button class="w3-btn w3-white" alt="Comentário" onclick="openCity('comment')"><h4 alt="Comentário"><i class="fas fa-comments"></i></h4></button></a><br /><br />
<a href="#rd"><button class="w3-btn w3-white" onclick="openCity('rd')"><h6 id="br"><i class="fas fa-user-friends dark"></i> ❤️ 😊</h6></button></a><a href="#capspt"><button class="w3-btn w3-white" onclick="openCity('capspt')"><h6 id="br"><i class="fas fa-book-open dark"></i><span class="w3-text-red"> [1!]</span></h6></button></a>
</div>

<a name="eng"></a>
<div id="eng" class="city" style="display:none;">
<a href="#pt"><button class="w3-btn w3-white" onclick="openCity('pt')"><h2 class="w3-text-white">🇧🇷</h2></button></a><a href="#eng"><button class="w3-btn w3-white" onclick="openCity('eng')"><h2 class="w3-text-white">🇺🇸</h2></button></a><br /><br /><br />
<a href="#comment" alt="Comentário"><button class="w3-btn w3-white" alt="Comentário" onclick="openCity('comment')"><h4 alt="Comentário"><i class="fas fa-comments"></i></h4></button></a><br /><br />
<a href="#rd"><button class="w3-btn w3-white" onclick="openCity('rd')"><h6 id="us"><i class="fas fa-user-friends dark"></i> ❤️ 😊</h6></button></a><a href="#capsen"><button class="w3-btn w3-white" onclick="openCity('capsen')"><h6 id="us"><i class="fas fa-book-open dark"></i><span class="w3-text-red"> [1!]</span></h6></button></a>
</div>

<a name="comment"></a>
<div id="comment" class="city" style="display:none;">
<a href="#pt"><button class="w3-btn w3-white" onclick="openCity('pt')"><h2 class="w3-text-white">🇧🇷</h2></button></a><a href="#eng"><button class="w3-btn w3-white" onclick="openCity('eng')"><h2 class="w3-text-white">🇺🇸</h2></button></a><br /><br />
<br />
<a href="#comment" alt="Comentário"><button class="w3-btn w3-white" alt="Comentário" onclick="openCity('comment')"><h4 alt="Comentário"><i class="fas fa-comments"></i></h4></button></a>
<br /><br />
<h4 class="w3-text-white">
<form name="pequenata-comment">
<span class="w3-btn w3-text-black" style="background-color:white;color:black;border-width:5px;border-color:black;border-style:solid;"><b>Name / Nome:</b><textarea type="text" name="pequenata-name" class="w3-text-black w3-input" style="background-color:white;color:black;border-width:5px;border-color:black;border-style:solid;"></textarea></span><br />
<span class="w3-btn" style="background-color:white;color:black;border-width:5px;border-color:black;border-style:solid;"><b>Say what you think about the story / Comente o que achou da história:</b><textarea type="text" name="pequenata-comment" class="w3-input" style="background-color:white;color:black;border-width:5px;border-color:black;border-style:solid;width:650px;height:500px;"></textarea>
<button type="submit" class="w3-btn" style="background-color:black;color:white;">Send the comment / Envie o comentário <i class="fas fa-paper-plane"></i></button></span>
</form></h4>
</div>

<a name="rd"></a>
<div id="rd" class="city" style="display:none;">
<a href="#pt"><button class="w3-btn w3-white" onclick="openCity('pt')"><h2 class="w3-text-white">🇧🇷</h2></button></a><a href="#eng"><button class="w3-btn w3-white" onclick="openCity('eng')"><h2 class="w3-text-white">🇺🇸</h2></button></a><br /><br /><br />
<a href="#comment" alt="Comentário"><button class="w3-btn w3-white" alt="Comentário" onclick="openCity('comment')"><h4 alt="Comentário"><i class="fas fa-comments"></i></h4></button></a><br /><br />
<a href="#rd"><button class="w3-btn w3-white" onclick="openCity('rd')"><h6><i class="fas fa-user-friends dark"></i> ❤️ 😊</h6></button></a><a href="#capspt"><button class="w3-btn w3-white" onclick="openCity('capspt')"><h6><i class="fas fa-book-open dark"></i><span class="w3-text-red"> [1!]</span></h6></button></a>
<h4 class="w3-text-white"><hr />
XX [Leitores] - [Readers] :3 :) ❤️ 😊<br />
Nomes - Names
<hr /></h4>
</div>

<a name="capspt"></a>
<div id="capspt" class="city" style="display:none;">
<a href="#pt"><button class="w3-btn w3-white" onclick="openCity('pt')"><h2 class="w3-text-white">🇧🇷</h2></button></a><a href="#eng"><button class="w3-btn w3-white" onclick="openCity('eng')"><h2 class="w3-text-white">🇺🇸</h2></button></a><br /><br /><br />
<a href="#comment" alt="Comentário"><button class="w3-btn w3-white" alt="Comentário" onclick="openCity('comment')"><h4 alt="Comentário"><i class="fas fa-comments"></i></h4></button></a><br /><br />
<a href="#rd"><button class="w3-btn w3-white" onclick="openCity('rd')"><h6 id="br"><i class="fas fa-user-friends dark"></i> ❤️ 😊</h6></button></a><a href="#capspt"><button class="w3-btn w3-white" onclick="openCity('capspt')"><h6 id="br"><i class="fas fa-book-open dark"></i><span class="w3-text-red"> [1!]</span></h6></button></a>
<br /><br />
<a href="#cappt1"><button class="w3-btn w3-white" onclick="openCity('cappt1')">1</button></a><br />
<a href="#cappt2"><button class="w3-btn w3-white" onclick="openCity('cappt2')">2</button></a><br />
<a href="#cappt3"><button class="w3-btn w3-white" onclick="openCity('cappt3')">3</button></a><br />
<a href="#cappt4"><button class="w3-btn w3-white" onclick="openCity('cappt4')">4</button></a><br />
<a href="#cappt5"><button class="w3-btn w3-white" onclick="openCity('cappt5')">5</button></a><br />
<a href="#cappt6"><button class="w3-btn w3-white" onclick="openCity('cappt6')">6</button></a><br />
<a href="#cappt7"><button class="w3-btn w3-white" onclick="openCity('cappt7')">7</button></a><br />
<a href="#cappt8"><button class="w3-btn w3-white" onclick="openCity('cappt8')">8</button></a><br />
<a href="#cappt9"><button class="w3-btn w3-white" onclick="openCity('cappt9')">9</button></a><br />
<a href="#cappt10"><button class="w3-btn w3-white" onclick="openCity('cappt10')">10</button></a><br />
<a href="#cappt11"><button class="w3-btn w3-white" onclick="openCity('cappt11')">11</button></a><br />
<a href="#cappt12"><button class="w3-btn w3-white" onclick="openCity('cappt12')">12</button></a><br />
<a href="#cappt13"><button class="w3-btn w3-white" onclick="openCity('cappt13')">13</button></a><br />
<a href="#cappt14"><button class="w3-btn w3-white" onclick="openCity('cappt14')">14</button></a><br />
<a href="#cappt15"><button class="w3-btn w3-white" onclick="openCity('cappt15')">15</button></a><br />
<a href="#cappt16"><button class="w3-btn w3-white" onclick="openCity('cappt16')">16</button></a><br />
<a href="#cappt17"><button class="w3-btn w3-white" onclick="openCity('cappt17')">17</button></a><br />
<a href="#cappt18"><button class="w3-btn w3-white" onclick="openCity('cappt18')">18</button></a><br />
<a href="#cappt19"><button class="w3-btn w3-white" onclick="openCity('cappt19')">19</button></a><br />
<a href="#cappt20"><button class="w3-btn w3-white" onclick="openCity('cappt20')">20</button></a><br />
<a href="#cappt21"><button class="w3-btn w3-white" onclick="openCity('cappt21')">21</button></a><br />
<a href="#cappt22"><button class="w3-btn w3-white" onclick="openCity('cappt22')">22</button></a><br />
<a href="#cappt23"><button class="w3-btn w3-white" onclick="openCity('cappt23')">23</button></a><br />
<a href="#cappt24"><button class="w3-btn w3-white" onclick="openCity('cappt24')">24</button></a><br />
<a href="#cappt25"><button class="w3-btn w3-white" onclick="openCity('cappt25')">25</button></a><br />
<a href="#cappt26"><button class="w3-btn w3-white" onclick="openCity('cappt26')">26</button></a><br />
<a href="#cappt27"><button class="w3-btn w3-white" onclick="openCity('cappt27')">27 <span class="steam"> [Novo]</span></button></a><br />
</span>
</div>

<a name="capsen"></a>
<div id="capsen" class="city" style="display:none;">
<a href="#pt"><button class="w3-btn w3-white" onclick="openCity('pt')"><h2 class="w3-text-white">🇧🇷</h2></button></a><a href="#eng"><button class="w3-btn w3-white" onclick="openCity('eng')"><h2 class="w3-text-white">🇺🇸</h2></button></a><br /><br /><br />
<a href="#comment" alt="Comentário"><button class="w3-btn w3-white" alt="Comentário" onclick="openCity('comment')"><h4 alt="Comentário"><i class="fas fa-comments"></i></h4></button></a><br /><br />
<a href="#rd"><button class="w3-btn w3-white" onclick="openCity('rd')"><h6 id="us"><i class="fas fa-user-friends dark"></i> ❤️ 😊</h6></button></a><a href="#capsen"><button class="w3-btn w3-white" onclick="openCity('capsen')"><h6 id="us"><i class="fas fa-book-open dark"></i><span class="w3-text-red"> [1!]</span></h6></button></a><br />
<br /><br />
<a href="#capen1"><button class="w3-btn w3-white" onclick="openCity('capen1')">1</button></a><br />
<a href="#capen2"><button class="w3-btn w3-white" onclick="openCity('capen2')">2</button></a><br />
<a href="#capen3"><button class="w3-btn w3-white" onclick="openCity('capen3')">3</button></a><br />
<a href="#capen4"><button class="w3-btn w3-white" onclick="openCity('capen4')">4</button></a><br />
<a href="#capen5"><button class="w3-btn w3-white" onclick="openCity('capen5')">5</button></a><br />
<a href="#capen6"><button class="w3-btn w3-white" onclick="openCity('capen6')">6</button></a><br />
<a href="#capen7"><button class="w3-btn w3-white" onclick="openCity('capen7')">7</button></a><br />
<a href="#capen8"><button class="w3-btn w3-white" onclick="openCity('capen8')">8</button></a><br />
<a href="#capen9"><button class="w3-btn w3-white" onclick="openCity('capen9')">9</button></a><br />
<a href="#capen10"><button class="w3-btn w3-white" onclick="openCity('capen10')">10</button></a><br />
<a href="#capen11"><button class="w3-btn w3-white" onclick="openCity('capen11')">11</button></a><br />
<a href="#capen12"><button class="w3-btn w3-white" onclick="openCity('capen12')">12</button></a><br />
<a href="#capen13"><button class="w3-btn w3-white" onclick="openCity('capen13')">13</button></a><br />
<a href="#capen14"><button class="w3-btn w3-white" onclick="openCity('capen14')">14</button></a><br />
<a href="#capen15"><button class="w3-btn w3-white" onclick="openCity('capen15')">15</button></a><br />
<a href="#capen16"><button class="w3-btn w3-white" onclick="openCity('capen16')">16</button></a><br />
<a href="#capen17"><button class="w3-btn w3-white" onclick="openCity('capen17')">17</button></a><br />
<a href="#capen18"><button class="w3-btn w3-white" onclick="openCity('capen18')">18</button></a><br />
<a href="#capen19"><button class="w3-btn w3-white" onclick="openCity('capen19')">19</button></a><br />
<a href="#capen20"><button class="w3-btn w3-white" onclick="openCity('capen20')">20</button></a><br />
<a href="#capen21"><button class="w3-btn w3-white" onclick="openCity('capen21')">21</button></a><br />
<a href="#capen22"><button class="w3-btn w3-white" onclick="openCity('capen22')">22</button></a><br />
<a href="#capen23"><button class="w3-btn w3-white" onclick="openCity('capen23')">23</button></a><br />
<a href="#capen24"><button class="w3-btn w3-white" onclick="openCity('capen24')">24</button></a><br />
<a href="#capen25"><button class="w3-btn w3-white" onclick="openCity('capen25')">25</button></a><br />
<a href="#capen26"><button class="w3-btn w3-white" onclick="openCity('capen26')">26</button></a><br />
<a href="#capen27"><button class="w3-btn w3-white" onclick="openCity('capen27')">27 <span class="steam"> [New]</span></button></a><br />
</div>
</center>

<a name="sites"></a>
<div id="sites" class="city" style="display:none;">
<br /><br />
<center><h4><span class="w3-orange">
<button class="w3-btn w3-text-black" onclick="window.open('https://printsofcomputer.netlify.com');">Prints Of Computer Blocks</button><br />
<button class="w3-btn w3-text-black" onclick="window.open('https://diario.netlify.com/');">Diario</button><br />
<button class="w3-btn w3-text-black" onclick="window.open('https://diario.netlify.com/watch/');">Watch History</button><br />
<button class="w3-btn w3-text-black" onclick="window.open('https://diario.netlify.com/foobar_albums/');">Foobar_Albums</button><br />
<button class="w3-btn w3-text-black" onclick="window.open('https://diario.netlify.com/games/');">Games</button><br />
<button class="w3-btn w3-text-black" onclick="window.open('https://diario.netlify.com/music/');">Music</button><br />
<button class="w3-btn w3-text-black" onclick="window.open('https://diario.netlify.com/pages/tasks/');">Tasks - Tarefas</button><br />
<button class="w3-btn w3-text-black" onclick="window.open('https://diario.netlify.com/pages/historias/historias');">Minhas Histórias(My Stories)</button><br />
<button class="w3-btn w3-text-black" onclick="window.open('https://diario.netlify.com/new_world/');">New World</button><br />
<button class="w3-btn w3-text-black" onclick="window.open('https://diario.netlify.com/pequenata/');">Pequenata - Littletato</button><br />
<button class="w3-btn w3-text-black" onclick="window.open('https://diario.netlify.com/new_world/spaceliving/');">SpaceLiving</button><br />
<button class="w3-btn w3-text-black" onclick="window.open('https://diario.netlify.com/pages/historias/medieval');">A História dos irmãos Nazzevo</button><br />
<button class="w3-btn w3-text-black" onclick="window.open('https://diario.netlify.com/stake2/pt-br/');">Eu</button><button class="w3-btn w3-text-black" onclick="window.open('https://diario.netlify.com/stake2/en-us');">Me</button><br /></span></h4></center>
</div>

<a name="cappt1"></a>
<div id="cappt1" class="city" style="display:none;">
<center><a href="#pt"><button class="w3-btn w3-white" onclick="openCity('pt')"><h2 class="w3-text-white">🇧🇷</h2></button></a><a href="#eng"><button class="w3-btn w3-white" onclick="openCity('eng')"><h2 class="w3-text-white">🇺🇸</h2></button></a><br /><br /><br />
<a href="#comment" alt="Comentário"><button class="w3-btn w3-white" alt="Comentário" onclick="openCity('comment')"><h4 alt="Comentário"><i class="fas fa-comments"></i></h4></button></a><br /><br />
<a href="#rd"><button class="w3-btn w3-white" onclick="openCity('rd')"><h6><i class="fas fa-user-friends dark"></i> ❤️ 😊</h6></button></a><a href="#capspt"><button class="w3-btn w3-white" onclick="openCity('capspt')"><h6><i class="fas fa-book-open dark"></i><span class="w3-text-red"> [1!]</span></h6></button></a></center>
<h5 class="w3-text-white"><hr />
[Texto do Capitulo, numero]<br />
---<br />
[Texto da história]<br /><br />
<br />
Feito em: XX/XX/XXXX.<br />
<br /><br />
<a href="#cappt2"><button class="w3-btn" onclick="openCity('cappt2')"><i class="fas fa-arrow-circle-right"></i></button></a><br />
<hr />
</h5>
</div>

<a name="capen1"></a>
<div id="capen1" class="city" style="display:none;">
<center><a href="#pt"><button class="w3-btn w3-white" onclick="openCity('pt')"><h2 class="w3-text-white">🇧🇷</h2></button></a><a href="#eng"><button class="w3-btn w3-white" onclick="openCity('eng')"><h2 class="w3-text-white">🇺🇸</h2></button></a><br /><br /><br />
<a href="#comment" alt="Comentário"><button class="w3-btn w3-white" alt="Comentário" onclick="openCity('comment')"><h4 alt="Comentário"><i class="fas fa-comments"></i></h4></button></a><br /><br />
<a href="#rd"><button class="w3-btn w3-white" onclick="openCity('rd')"><h6 id="us"><i class="fas fa-user-friends dark"></i> ❤️ 😊</h6></button></a><a href="#capsen"><button class="w3-btn w3-white" onclick="openCity('capsen')"><h6 id="us"><i class="fas fa-book-open dark"></i><span class="w3-text-red"> [1!]</span></h6></button></a><br /></center>
<h5 class="w3-text-white"><hr />
[Chapter text, number]<br />
---<br />
[Story text]<br /><br />
<br />
Made in: XX/XX/XXXX.<br />
<br /><br />
<a href="#capen2"><button class="w3-btn" onclick="openCity('capen2')"><i class="fas fa-arrow-circle-right"></i></button></a><br />
<hr />
</h5>
</div>
</div>

</body>
</html>