# Website image folders and files
Images/Play History/PSD.psd
Images/Stories/Arquivo
Images/Stories/Ícone
Images/Stories/PSD.psd
Images/Tasks/Arquivo
Images/Tasks/Ícone
Images/Tasks/PSD.psd
Images/Watch History/Arquivo
Images/Watch History/PSD.psd
Images/Years/Arquivo
Images/Years/Ícone
Images/Years/PSD.psd

# Root files
.megaignore

# Other
desktop.ini
\Rubbish
Rubbish/
desktop.ini
/desktop.ini