body { 
    background-image: url("https://thestake2.netlify.app/Images/Story Covers/The Secret of the Crystals/Português Brasileiro/Landscape/Story/Book Cover.png");
    margin: 0;
    padding: 0;
} 