body { 
    background-image:url("https://diario.netlify.app/cdn/img/bg.png") ; 
    background-color: #D3D3D3;
    margin: 0;
    padding: 0;
} 

.w {
	color:#2196F3;
}

.tw {
	color:#4CAF50;
}

a.wb {
	background-color:#2196F3!important;
	color:#000!important;
}

.twb {
	color:#000!important;
	background-color:#4CAF50!important;
}