.border_1px {
<<<<<<< HEAD
	border-width: 1px!important;
	border-style: solid!important;
}

.border_3px {
	border-width: 3px!important;
	border-style: solid!important;
}

.border_4px {
	border-width: 3px!important;
	border-style: solid!important;
=======
	border-width: 1px;
	border-style: solid;
}

.border_3px {
	border-width: 3px;
	border-style: solid;
}

.border_4px {
	border-width: 3px;
	border-style: solid;
>>>>>>> 5a93bfe6618b5981e3a1a61f3740b823acd1d6b8
}

.create_border_on_hover:hover {
	border-width:3px;
	border-style:solid;
	background-color:white!important;
}

.20px_font_size {
	font-size: 20px!important;
}

@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 684px) { 
    .20px_font_size {
		font-size: 24px!important;
	}
}

h1,
h2,
h3,
h4,
h5,
h6,
span,
p,
b {
	white-space: unset!important;
}

textarea {
	outline: none!important;
}

button,
span#notificationclose {
	padding: 15px 25px;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	outline: none;
	border-radius: 15px;
	box-shadow: 0 9px black!important;
	white-space: unset!important;
}

button:hover,
span#notificationclose {
	box-shadow: 0 9px black!important;
}

button:active,
span#notificationclose:active {
	box-shadow: 0 5px black!important;
	transform: translateY(4px)!important;
}

.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
	background-color: #fefefe;
	margin: 15% auto; /* 15% from the top and centered */
	padding: 20px;
	border: 1px solid #888;
	width: 80%; /* Could be more or less, depending on screen size */
}

.modal_close_button {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.modal_close_button:hover,
.modal_close_button:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

button:hover h2 span.w3-text-white,
button:hover h2 span.w3-text-blue,
button:hover h2 span.w3-text-cyan,
button:hover h2 span.w3-text-orange,
button:hover h2 span.w3-text-grey,
button:hover h2 span.w3-text-yellow {
	color: black!important;
}

button:hover h4 span.w3-text-white,
button:hover h4 span.w3-text-blue,
button:hover h4 span.w3-text-cyan,
button:hover h4 span.w3-text-orange,
button:hover h4 span.w3-text-grey,
button:hover h4 span.w3-text-yellow {
	color: black!important;
}