.mobileShow { display: none;}

@media only screen
  and (min-device-width : 320px)
  and (max-device-width : 684px){ 
    .mobileShow {display: block;}
}
 
.mobileHide { display: block; }

@media only screen
  and (min-device-width : 320px)
  and (max-device-width : 684px){
   .mobileHide { display: none;}
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}