body { 
background-image:url("../img/BackCssHtml5.jpg") ; 
} 

.smap { /* Sitemap */
    background-color: blue;
    border: none;
    color: black;
    padding: 15px 21px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    float: left;
}

.smap:hover { /* Sitemap */
    color: black;
    box-shadow: 0 15px 17px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.poc { /* Prints of Computer */
    background-color: transparent;
    border: none;
    padding: 0.2px 0.1px;
    float: left;
}

.poc:hover { /* Prints of Computer */
    background-color: white;
    color: black;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.pocm { /* Prints of Computer Mobile */
    background-color: #3f48cc;
    border: none;
    padding: 0.1px 0.1px;
    float: left;
}

.pocm:hover { /* Prints of Computer Mobile */
    color: black;
    box-shadow: 0 11px 15px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.nw { /* Noteblock Website */
    background-color: transparent;
    border: none;
    padding: 0.1px 0.1px;
    float: left;
}

.nw:hover { /* Noteblock Website */
    background-color: transparent;
    color: black;
    box-shadow: 0 11px 15px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.posts { /* Posts */
    background-color: transparent;
    border: none;
    padding: 0.1px 0.1px;
    float: left;
}

.posts:hover { /* Posts */
    background-color: transparent;
    color: black;
    box-shadow: 0 11px 15px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}


/*
.pocm { /* Prints of Computer Mobile */
    background-color: #3f48cc;
    border: none;
    padding: 0.1px 0.1px;
    float: left;
}

.pocm:hover { /* Prints of Computer Mobile */
    color: black;
    box-shadow: 0 11px 15px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.pocb { /* Prints of Computer Blocks */
    background-color: #FF7F27;
    border: none;
    padding: 0.1px 0.1px;
    float: left;
}

.pocb:hover { /* Prints of Computer Blocks */
    color: black;
    box-shadow: 0 11px 15px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.nw { /* Noteblock Website */
    background-color: #00FF00;
    border: none;
    padding: 0.1px 0.001px;
    float: left;
}

.nw:hover { /* Noteblock Website */
    background-color: white;
    color: black;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.posts { /* Posts */
    background-color: #00FF00;
    border: none;
    padding: 0.1px 0.1px;
    float: left;
}

.posts:hover { /* Posts */
    background-color: white;
    color: black;
    box-shadow: 0 15px 17px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
*/
.button2 {
    background-color: #008CBA;
    border: none;
    color: black;
    padding: 15px 21px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    float: ;
}

.button3 { /* bottom button */
    background-color: Transparent;
    position: fixed;
    border: none;
    color: black;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    bottom: 500px;
    right: 0px; 
}

.button4 { /* top button */
    background-color: Transparent;
    position: fixed;
    border: none;
    color: black;
    display: inline-block;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    bottom: 445px;
    right: 0px; 
}

.button4:hover { /* top hover */
    color: black;
    box-shadow: 0 15px 17px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.button6 { /* top button */
    background-color: blue;
    border: none;
    color: black;
    padding: 15px 21px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    float: left;
}

.button6:hover { /* top hover */
    color: black;
    box-shadow: 0 15px 17px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.button7 { /* Noteblock Website */
    background-color: #3f48cc;
    border: none;
    padding: 0.2px 0.1px;
    float: left;
}

.button7:hover { /* Noteblock Website */
    color: black;
    box-shadow: 0 11px 15px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}



/* Date visual */

.date {
    width:auto;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size:30px;
    color:green;
    float:right;
    font-weight:normal;
    font-style:italic;
    margin:0;
    padding:0;
    display:inline-block;
}

/* Download visual */

.download {
    style:font-family:arial;
    color:#003300;
    text-align:right;
    margin: 0;
    padding: 0;
    float:right;
}

#list  p {
    font: arial;
    font-size:30px;
    background-color: Transparent;
}