.sl1 {
    background-color:#2196f3;
    color:black;
}

.sl2 {
    color:#2196f3!important;
}

.slhr {
    border:1px solid #2196f3;
	overflow:auto;
}

.slhr2 {
    border:1px solid #0961aa;
	overflow:auto;
}

.darksl {
    background-color:#555454!important;
}

.sl {
	background-color:#04101a!important;
}

.pqnthr {
    border:1px solid #b88e50;
	overflow:auto;
}

.pqnttext {
    color:#b88e50!important;
}

.darkpqnt {
    background-color:#261804!important;
}

.darkpqnttext {
    color:#261804!important;
}

.darkpqnttext2 {
    color:#e79118!important;
}

button.pqntsend {
    background-color:black;
	color:#b88e50!important;
	float:right;	
}

.pqntsend2 {
    background-color:black!important;
	color:#b88e50!important;	
}

span.pqntspan {
	background-color:#b88e50!important;
	color:black!important;
}

textarea.pqnttextarea {
	background-color:#b88e50!important;
	color:black;
	border-width:5px;
	border-color:black;
	border-style:solid;
}

button.bg {
    background-color:#b88e50!important;
}

button.bg2 {
    background-color:#916f3b!important;
}

.bg {
    background-color:#b88e50!important;
}

.bg2 {
    background-color:#916f3b!important;
}

.bg2text {
	color:#6d532c!important;
}

.textbg {
	color:#452b07!important;
}

.pad {
	padding:5px 0px;
}

.blackbg {
	background-color:black!important;
}

.lstext {
	color:#b1b1b1!important;
}